attrdict3
openai==1.55.0
httpx==0.27.2
pyannote.audio
python-dotenv
pydub
yt-dlp
pyyaml
numpy==1.26.4
moviepy==1.0.3
#git clone https://github.com/bond005/pisets.git
#python -m pip install -r pisets/requirements.txt